<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img src="/assets/images/register.jpg" alt="login">
        </div>
        <div class="col-lg-6">
            <div class="board">
                <div class="head">
                    <h2>Register</h2>
                    <p>See new deals and order now!</p>
                </div>
                <div class="acc-link">
                    <img src="/assets/images/google.png" alt="">
                    <a href="#">Sign up with Google</a>
                </div>
                <form action="">
                        <label for="email">Email</label>
                        <input type="email" placeholder="mail@website.com">
                        <label for="phone">Phone</label>
                        <input type="tel" placeholder="9328291282">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="password">
                        <input type="submit" value="Sign up">
                </form>
                <p>Already have an account? <a [routerLink]="['/login']">Sign in here</a></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>