<app-navbar></app-navbar>

<div>
    <nav class="d-flex justify-content-center">
        <ul class="pagination pagination-sm">
            <!-- index local variable provides index for the current element while iteration -->
            <li class="page-item" *ngFor="let in of counter(per_page); let i=index">
                <a class="page-link" (click)="change_page(i+1)">{{i+1}}</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row mt-4 mx-3 d-flex justify-content-evenly">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let prod of products|slice:start:end">
        <div class="card border-dark-subtle" style="width: 18rem;">
            <img [src]="prod.image" class="card-img-top img-fluid" alt="...">
            <hr>
            <div class="card-body">
                <h5 class="card-title">{{prod.name|slice:0:20}}</h5>
                <hr>
                <p class="card-text">{{prod.description|slice:0:80}}...</p>
                <hr>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-warning" (click)="addToCart(prod)">Add To Cart</a>
                &nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/products-details', prod.id]" class="btn btn-warning">See details</a>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>