.f {
                height: 400px;
                background-color: rgba(0, 47, 75, 0.774);
                padding-top: 3%;
            }

            .pad:first-child{
                padding-left: 7%;
            }

            .pad{
                padding-left: 8%;
            }

            h3{color: #fff;}

            a {
                display: flex;
                justify-content: start;
                color: #c7c7c7;
                text-decoration: none;
            }

            a:hover{
                color: #fff;
            }

            hr {
                margin: auto;
                background-color: #fff;
            }

            .social-links>i{
                font-size: 30px;
                color: #dadada;
            }