<div class="container-flex">
            <div class="row f">
                <div class="col-lg-3 pad">
                    <h3 class="">About Us</h3>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Newsroom</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Careers</a>
                    <a href="#">Corporate Responsibility</a>
                    <a href="#">Affilliates</a>
                    <a href="#">Legal</a>
                </div>
                <div class="col-lg-3 pad">
                    <h3>Support</h3>
                    <a href="#">Product Support</a>
                    <a href="#">Community</a>
                    <a href="#">Report Abuse</a>
                </div>
                <div class="col-lg-3 pad">
                    <h3>Account</h3>
                    <a href="#">My Account</a>
                    <a href="#">My Renewals</a>
                    <a href="#">Create Account</a>
                </div>
                <div class="col-lg-3 pad">
                    <h3>Shopping</h3>
                    <a href="#">Product Catalog</a>
                    <a href="#">Find a Domain</a>
                    <a href="#">Reseller Programs</a>
                </div>
                <hr>
            </div>
            <!-- <div class="social-links">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
            </div> -->
        </div>